@charset "utf-8";
/* CSS Document */

body {background:fixed top url("./images/sports.jpg") no-repeat ;}

#seleccion {margin:0 auto; width:300px; text-align:center;}

#resultado {margin:  40px auto; width:500px; background:#FDFBBB; }

table {margin:0 auto; text-align:center}

td,th {padding:6px;
	padding-left:14px;}